name: CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: 游닌 Checkout do c칩digo
        uses: actions/checkout@v4

      - name: 丘뙖잺 Step de Build (simples para apps est치ticas)
        run: echo "Build step - Nenhum processo de build necess치rio"

      - name: 游 Deploy no GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./